{%extends "Base.html"%}
{%block content%}
{{ super()}}
{% endblock %}
{%block main %}
<div class = 'container'>
<div class = " item-name">Item Name: {{item.title}}</div>
<form action = "{{url_for('editdescription', category_id = cat.id, item_id = item.id)}}" method = 'post'>
   <label>
   <div class = "itemdes">Description</div>
   </label>
   <br>
   <textarea name="description" placeholder="{{item.description}}"></textarea>
   <br>
   <br>
   <input type='submit' value='Submit'>
</form>
</div>
{% endblock %}