
{% extends "ProtectedBase.html" %}

{%block content%}
{{ super() }}
{% endblock %}
{%block main %}
<br>
<div class = 'container'>
<h1>Category: {{category.name}}</h1>
<br>
<h3><a href = {{url_for('newitem', category_id = category.id)}}>Add New Item</a></h3>
<br>
<h1>Items:</h1>
<br>
{% for i in items  %}
    <div class = "item-column"><h2><a href = {{url_for('ItemDescription', category_id = category.id, item_id = i.id)}}>{{i.title}}</a><h2></div>
	<div class = "editdel">
	<div class = "e1"><a href = {{url_for('edititem', category_id = category.id, item_id = i.id)}}><h4>Edit Item</h4></a></div>
	<div class = "e2"><a href = {{url_for('delete_item', category_id = category.id, item_id = i.id)}}> <h4>Delete Item</h4></a></div>
	</div>
	<br>
	{% endfor %}
{% endblock %}


