<html>
<head>
<title> category</title>
<style>
.iteminfo{
   font-size: 25px;
   margin-top: 12px;
}

select {
    width: 170;
}

</style>
</head>
<body>

<h1> Edit Item<h1>
<form action = "{{url_for('edititem', category_id = cat.id, item_id = item.id)}}" method = 'post'>
   <label>
   <div class = "iteminfo"> Title</div>
   </label>
   <input type = 'text'  name = 'title' placeholder="{{item.title}}">
   <br>
   <label>
   <div class = "iteminfo">Description</div>
   </label>
   <input type = 'text'  name = 'description' placeholder="{{item.description}}">
   <br>
   <label>
   <div class = "iteminfo">Category</div>
   </label>
    <select name="category">
    {% for c in categories %}
	  <option value = "{{c.id}}">{{c.name}}</option>
	{% endfor %}
	<option value = "{{cat.id}}" selected>{{cat.name}}</option>
	</select>
   <br>
   <br>
   <input type='submit' value='Submit'>

</form>
</body>
</html>