{% extends "ProtectedBase.html" %}
{%block content%}
{{ super()}}
{% endblock %}
{%block main %}
<h1> Edit Item<h1>
<form action = "{{url_for('edititem', category_id = cat.id, item_id = item.id)}}" method = 'post'>
   <label>
   <div class = "itemtitle"> Title</div>
   </label>
   <input type = 'text'  name = 'title' class = "item-name" placeholder="{{item.title}}">
   <br>
   <label>
   <div class = "iteminfo">Description</div>
   </label>
   <input type = 'text'  name = 'description' class = "item-des" placeholder="{{item.description}}">
   <br>
   <label>
   <div class = "iteminfo">Category</div>
   </label>
    <select name="category" class = "edititem">
    {% for c in categories %}
	  <option value = "{{c.id}}">{{c.name}}</option>
	{% endfor %}
	<option value = "{{cat.id}}" selected>{{cat.name}}</option>
	</select>
   <br>
   <br>
   <input type='submit' value='Submit'>
</form>
{% endblock %}