<html>
<head>
<title>Item Catalog</title>
<style>
.container{
margin-left: auto;
margin-right: auto;
width: 960px;
}
.description{
font-size: 20px;
}
</style>
</head>
<body>
<br>
<div class = 'container'>
<div><h2>{{item.title}}</h2></div>
<div class = "description">
{{item.description}}
</div>
<div class = "editdel">
	<div class = "e1"><a href = "/category/1/items/1/edit"><h4>Edit</h4></a></div>
	<div class = "e2"><a href = "/category/1/items/1/delete"><h4>Delete</h4></a></div>
	</div>
</div>
</body>
</html>