{% extends "ProtectedBase.html" %}
{%block content%}
{{ super()}}
{% endblock %}
{%block main %}
<h1> Add New Item<h1>
<form action = "{{url_for('newitem', category_id = category_id)}}" method = 'post'>
   <label>
   <div class = "iteminfo"> Title</div>
   </label>
   <input type = 'text'  name = 'name'>
   <br>
   <label>
   <div class = "iteminfo">Description</div>
   </label>
   <input type = 'text'  name = 'description'>
   <br>
   <label>
   <div class = "iteminfo">Category</div>
   </label>
   <select name="category">
    {% for c in categories %}
	  <option value = "{{c.id}}">{{c.name}}</option>
	{% endfor %}
	<option value = "{{cat.id}}" selected>{{cat.name}}</option>
  </select>
   <br>
   <br>
   <input type='submit' value='Submit'>
</form>
{% endblock %}